<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsqd.amc.linkedmo.mapper.SmsTranMapper">

    <insert id="insertSmsTran" parameterType="com.dsqd.amc.linkedmo.model.SmsTran">
        INSERT INTO TB_AGT_SMS_TRAN (
            TR_USER_ID,
            TR_INST_DATE,
            TR_SEND_DATE,
            TR_DEST_ADDR,
            TR_CALL_BACK,
            TR_SMS_MESSAGE,
            TR_ORIG_ADDR
        ) VALUES (
            #{trUserId},
            DATE_FORMAT(now(),'%Y%m%d%H%i%s'),
            DATE_FORMAT(now(),'%Y%m%d%H%i%s'),
            #{trDestAddr},
            #{trCallBack},
            #{trSmsMessage},
            '07089852982'
        )
    </insert>

    <!-- 장문(LMS/MMS) 발송 큐 -->
    <insert id="insertAgtTran" parameterType="com.dsqd.amc.linkedmo.model.AgtTran">
        INSERT INTO TB_AGT_TRAN (
            TR_USER_ID,
            TR_INST_DATE,
            TR_SEND_DATE,
            TR_DEST_ADDR,
            TR_CALL_BACK,
            TR_MSG_TYPE,
            TR_CONTENTS_CNT,
            TR_SUBJECT,
            TR_MMS_MESSAGE,
            TR_ORIG_ADDR
        ) VALUES (
            #{trUserId},
            DATE_FORMAT(now(),'%Y%m%d%H%i%s'),
            DATE_FORMAT(now(),'%Y%m%d%H%i%s'),
            #{trDestAddr},
            #{trCallBack},
            #{trMsgType},
            #{trContentsCnt},
            #{trSubject},
            #{trMmsMessage},
            #{trOrigAddr}
        )
    </insert>

</mapper>